main {
    text-align: center;
    margin: 0 auto;
}

main table {
    border-collapse: separate;
}

main table,
main>div {
    margin: 1.5em auto;
    border-spacing: 5px;
}

main td {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--bs-dark-bg-subtle);
    border-radius: 0.2em;
}

.none {
    border: 0;
}

#keyboard .p-1 {
    width: 2em;
    height: 2em;
    margin: 0.4em;
}